{{ define "head" }}
{{ end }}

{{ define "content" }}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form method="POST" enctype="multipart/form-data">
      <div class="form-group">
        Upload Image
        <input class="form-control" type="file" name="image" accept="image/*"/>
        <input class="form-control" type="submit"/>
      </div>
    </form>
    <form method="POST">
      <div class="form-group">
        Upload Image with URL
        <input class="form-control" type="text" name="url" placeholder="http://"/>
        <input class="form-control" type="submit"/>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>

  <div class="col-md-12">
    <h1>{{.M}}</h1>
  </div>
</div>
{{ end }}

{{ define "footer" }}
{{ end }}
