#container {
    height: 100%;
}

#slide_wrapper {
    position: absolute;
    width: 100%;
    visibility: hidden;
}

.half {
    position: fixed;
    height: 100%;
    width: 50%;
    cursor: pointer;
}

#right_half {
    left: 50%;
}

@media (max-width: 512px) {
h1 {
    font-size: 200% !important;
}
}

h1 {
    font-size: 700%;
    margin: 10px 10px 20px 10px;
    padding: 0;
}

li {
    font-size: 250%;
    text-align: left;
    margin-left: 100px;
}

h3 {
    font-size: 250%;
}

#control {
    position: fixed;
}

#raw {
    width: 100%;
    font-size: 200%;
}

.modal-footer > form {
    display: inline-block;
}

#slide_wrapper > img {
    width: auto;
    max-height: 768px;
    max-width: 100%;
}

pre {
    text-align: left;
    font-size: 200%;
}
